# Dependencies
node_modules/

# Nuxt build
.nuxt/
.nitro/
.cache/
.output/
dist/

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Package lock (ixtiyoriy — kerak bo'lsa olib tashlang)
# package-lock.json